@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --clr-primary-400: hsl(158, 36%, 37%);
  --clr-primary-500: hsl(158, 36%, 17%);
  --clr-primary-200: hsl(30, 38%, 92%);
  --clr-neutral-900: hsl(212, 21%, 14%);
  --clr-neutral-400:  hsl(228, 12%, 48%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --fw-regular: 500;
  --fw-bold: 700;

  --ff-accent: 'Fraunces', serif;
  --ff-base: 'Montserrat', sans-serif;
}


*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

/* General */
body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-400);
  font-size: 0.875rem;
  background-color: var(--clr-primary-200);

  /* for this project */
  display: grid;
  place-content: center;
  margin: 1rem;
}

.price {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.add-to-cart {
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  
  border: 0;
  padding: 0.75rem 1.5rem;
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
  font-size: 0.925rem;
  border-radius: 0.5rem;
}

.add-to-cart:is(:hover :focus) {
  background-color: var(--clr-primary-500);

}

.product-preview-card {
  --content-padding: 1.5rem;
  --content-spacing: 1rem;
  background-color: var(--clr-neutral-100);
  border-radius: 0.5rem;
  overflow: hidden;
  display: grid;
  max-width: 600px;
}

@media (min-width: 615px) {
  .product-preview-card {
    --content-padding: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}

.product-preview-card .content {
  display: grid;
  gap: var(--content-spacing);
  padding: var(--content-padding);
}

.content .type-product {
  font-size: 0.8125rem;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.content .title {
  font-size: 2rem;
  font-family: var(--ff-accent);
  color: var(--clr-neutral-900);
}

.price .new-price{
  font-size: 2rem;
  font-family: var(--ff-accent);
  color: var(--clr-primary-400);
  font-weight: var(--fw-bold);
}