@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Figtree", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f4d04e;
}

html {
  font-size: 62.5%;
}

.blog-preview-card {
  width: 38.4rem;
  padding: 2.4rem;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  border-radius: 2rem;
  border: 1rem solid black;
  box-shadow: 8rem 8rem 0 0 black;
  align-items: center;
}

.blog-preview-card .block-image {
  border-radius: 2rem;
  margin-bottom: 2.4rem;
}

.blog-preview-card .content {
  text-align: left;
  line-height: 150%;
}

.blog-preview-card .content .tag {
  background-color: #f4d04e;
  display: inline-block;
  padding: 0.4rem 1.2rem;
  font-size: 1.4rem;
  font-weight: 800;
  margin-bottom: 1.2rem;
}

.blog-preview-card .content .date {
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}

.blog-preview-card .content .title {
  font-weight: 800;
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

.blog-preview-card .content .desc {
  font-weight: 400;
  font-size: 1.6rem;
  color: gray;
  margin-bottom: 2.4rem;
}

.blog-preview-card .author {
  display: flex;
  align-items: center;
}

.blog-preview-card .author .avatar {
  aspect-ratio: 1/1;
  width: 3.2rem;
  margin-right: 1.2rem;
}

.blog-preview-card .author .name-author {
  font-size: 1.4rem;
  font-weight: 800;
  
}