@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  background-color: #d5e1ef;
  font-size: 62.5%;
}

body {
  display: grid;
  place-items: center;
  height: 100vh
}

img {
  max-width: 100%;
  display: block;
}

.qr-component {
  max-width: 37.5rem;
  margin-inline: auto;
  background-color: white;
  padding: 1.5rem;
  border-radius: 2rem;
}

.qr-component .qr-code {
  width: 100%;
  border-radius: 2rem;
}

.qr-component .desc {
  margin-top: 2rem;
  text-align: center;
  background-color: white;
  margin-left: 1rem;
  margin-right: 1rem;
}

.qr-component .desc .title {
  background-color: white;
  font-size: max(2.5vw, 2.5rem);
  margin-bottom: 1rem;
}

.qr-component .desc .sub-title {
  font-weight: 400;
  background-color: white;
  font-size: 1.5rem;
  color: gray;
}
