@import 'https://fonts.cdnfonts.com/css/norse';
@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap';
$ff-odin: 'Norse', sans-serif;
$ff-main: "Roboto", sans-serif;
$bg-main: #f9fafb;
$bg-form: #ffffff;
$bg-button: #596d48;
$bd-input-right: #3b64d7;
$bd-input-wrong: #b91d1d;
$clr-link: #6d7f5e;
$clr-text-main: #000000;
$clr-text-button:#ffffff;